body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  font-style: normal;
  /*background: #F5F6FA;*/
  font-size: 16px;
  -webkit-tap-highlight-color:rgba(0,0,0,0);

}
ul,
li,
dt,
dd,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style: none;
}
img {
  display: block;
  margin-top: 0;
  border: 0;

}
a {
  text-decoration: none;
}
.blog {
  width: 100%;
  background-color:#007BE3;
  box-sizing: border-box;
  margin: 0 auto;

}
.row1{
  margin-top: 0;
}
.logo{
  width: 100%;
  height: 0.9rem;
}
.logo1{
   width: 0.7rem;
  margin: 0 auto;
  vertical-align: middle;
  padding-top: 0.1rem;
  margin-left: 2.7rem;

}
.logo h2{
  display: block;
  font-size: 16px;
  text-align: center;
  margin-left:17px;
  text-align: center;
  line-height: 0.9rem;
  margin-top: -0.80rem;
}
.banner img{
  margin: 0;
  padding: 0;
  height: 4.218rem;
  width: 100%;
}

/*banner1  下 学员*/
 .gxxy{
  width:100%;
  height: 100%:;
  box-sizing:border-box;
 }
.nav{
  height: 0.8rem;
  width: 100%;
  font-size: 12px;
  color:#494747;
  line-height: 0.8rem;
  background: #F5F6FA;
 }
 .nav a{
   color:#494747;
   padding-left: 0.25rem;

 }
 
/*bannerxia*/


 .student{
 
  width: 100%;
  border-bottom: 10px solid #F5F6FA;
  box-sizing:border-box;
 }
 .project{
  width: 7.5rem;

  border-left:12px solid #F5F6FA;
  border-right:12px solid #F5F6FA;
   box-sizing:border-box;
 }
.project span{
    display: block;
    height: 0.24rem;
    width: 0.04rem;
    background:#01B5FF;
    margin-top: 0.5rem;
    margin-left: 0.15rem;


  }
.project h3{
      display: block;
      margin-top:-0.25rem;
      margin-left: 0.36rem;
      font-size:16px;
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap; 

    }
.xian{
      border:1px dashed #ABABAB;
      margin-top: 0.1rem;
      margin-left: 0.36rem;
      margin-right:0.3rem;
    }
.project .nav1{
  height:0.67rem;
  width: 100%;

}

.project .tj{
  margin-left: 0.3rem;
   margin-right: 0.25rem;
  font-size: 14px;
  color:#666666;
  margin-bottom:0.5rem;

}
.project .tj p{
  font-size: 14px;
  color:#666666;
  line-height: 1.44em;


}
.kuai{
  height: 3.6rem;
  background: #474747;
}

.xian1{
  margin-top: 0.3rem;
}

.contact{
  height: 0.4rem;
  margin-top: 0.3rem;
  padding-left:0.3rem;
  padding-right: 0.2rem; 
  position: relative;
}
.contact h2{
  line-height: 0.4rem;
  font-size: 12px;
  color: #000;

}
.contact .tb{
  position: absolute;
  width: 2.8rem;
  height: 0.4rem;
  left: 0.98rem;
  top: 0;



}
.contact .tb a{
  display: block;
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
  float: left;
  vertical-align: middle;
   margin-left:0.15rem;

}

.contact .tb a img{
  display: block;
  height: 0.4rem;
  width: 0.4rem;
  margin-left:0.2rem;
}


.contact .shou {
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
  vertical-align: middle;
  background:url(../img/ss.png) no-repeat center center/100%;
  background-color: #fff;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0.2rem;

  
}
.contact .shou1 {
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
  vertical-align: middle;
  background:url(../img/sss.png) no-repeat center center/100%;
  background-color: #FE6E20;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0.8rem;

  
}


/*<!-- 切换篇章 -->*/
.page{
  height:1.24rem;
  background: #F5F6FA;
  padding-left: 0.25rem;
 

}
.page h2{
  font-size: 14px;
  color:#000;

}
.page h2:first-child{
  padding-top: 0.3rem;
}
.page h2:last-child{
  padding-bottom: 0.3rem;
}
.page h2 a{
  font-size: 10px;
}

@media screen and (min-width:320px){
  .page h2{
  font-size: 10px;
  color:#000;

  }
  .page h2{
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap; 
      font-size: 10px;

      }
      .yd p{
      display:block;
      margin-top:-0.3rem;
      margin-left: 0.4rem;
      font-size:10px;
      }


}


/*<!-- 相关问题 -->*/
.wt{
  height: 3.0rem;

}

.wt .nav1{
  margin-top:-0.1rem;
}
.wt .xian{
  margin-top:-0.3rem; 
}

.yd{
  height: 0.3rem;
  margin-top: 0.3rem;
  padding-left: 0.15rem;
}
.yd p{
  display:block;
  margin-top:-0.4rem;
  margin-left: 0.4rem;
  font-size:10px;
}














/*bottom*/
.footer{
  height:1.15rem;
  background:#F5F6FA;
  position: relative;


}


#bq{
 
  margin: 0 auto;
  margin-top:0.34rem;
  text-align: center;
  font-size:10px;
  color:666666;
} 